a{
    text-decoration-style: none;
    text-decoration: none;
}

*{
    margin : 0;
    padding: 0;
    font-family: 'Ropa Sans', sans-serif;
}

/*Navbar/////////////////////////*/

Header{
    font-size: 2.5rem;
    display: flex;
    justify-content: flex-end;
}

Menu.Item:hover{
    background-color: rgba(212, 212, 212, 0.418)smoke;
}
.Navbar{
    height: 7vh;
}


/*Footer//////////*/
footer{
    display: flex;
    text-decoration: none;
    background-color: rgb(3, 3, 15);
    color: white;
    height: 10vh;
    width:100vw;
    position: absolute;
    bottom: 0;
}

footer a{
    text-decoration: none;
    color: white;
}

footer ul li{
    list-style-type: none;
}

.Foot1{
    display: flex;
    width: 40%;
    margin-top: 2%;
    margin-left: 2%;
}

.Foot2{
    display: flex;
    justify-content: flex-end;
    width: 50%;
    margin-bottom: 2%; 
}

.btn{
    font-size: 1rem;
    width: 10vw;

}
.btn:hover{
    background-color:rgb(50, 156, 206);
}

/*Home /////////////////*/
.Home{
    font-family: 'Ropa Sans', sans-serif;
    margin: 1%;
    background-image: linear-gradient( rgb(204, 205, 207), rgb(221, 224, 235));
    height: 80vh;
    padding: 5%;
}
.Home h2{
    font-size: 2rem;
}
.Home a{
    color: rgb(75, 75, 75);
}
.Home img{
    height: 10vh;
    width: auto;
}
.home-cont{
    display: flex;
    justify-content: space-between;
}

.container{
    display: flex;
    flex-direction: row;
}

.cont-1{
    display: flex;
    width: 60%;
    flex-direction: column;
    margin-top: 2%;
    align-items: flex-start;
    font-size: 1rem;
}
.cont-1 input{
    border-radius: 10px;
    background-color: rgb(201, 201, 201);
    border:1px solid rgba(42, 130, 236, 0.65);
}

.cont-2{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap:wrap;
    justify-items: center;
    width:80%;
    font-size:1.2rem;
    padding-left: 10%;
}
.cont-2 a:hover{
    cursor: pointer   
}
.cont-3{
    display: flex;
    flex-direction: row;
    align-items: center;
    height:35vh;
    padding: 3%;
    width: 50%;
    background-color: rgb(226, 226, 226);
    border-radius: 25px;
    margin-left:50%;
    border: 5px solid rgba(42, 130, 236, 0.651);
    justify-content:flex-end;
    box-shadow:20px 20px 20px rgb(112, 112, 112);
}

 .cont-3 img{
    height: auto;
    width:10vw;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    margin: 2%;
    opacity:.8;
}
.check{
    display: flex;
    flex-direction: column;
    width:33%;
    margin:1%;
    justify-content: center;
}
.excel{
    display: flex;
    flex-direction: column;
    width:33%;
    justify-content: center;
    margin:1%;
}
.upload{
    display: flex;
    flex-direction: column;
    width:33%;
    justify-content: center;
    margin:1%;
}
.cont-3 img:hover{   
    opacity: 0.5;
} 

/*FAQS //////////////////*/
.faq-gral{
    display: flex;
    flex-direction: column;
    height: 83vh;
    z-index: -1;
}

.faqs{
    display: flex;
    height: 10vh;
    margin: 1%;
}
.faqs img{
    margin-left: 60vw;
    height: 12vh;
}
.foot-faq{
    background-image: url('../assets/chemistry-306979_960_720.png');
    margin: 5vw;
    background-size:30vh;
    background-position: right bottom;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/*Login////////////////////*/
.login{
    display: flex;
    height: 80vh;
    margin: 1%;
    background-image: linear-gradient( rgb(204, 205, 207), rgb(221, 224, 235));
}

.cont-login{
   display: flex;
   width: 45vw;
   margin: 5vh 25vw;
   border: 1px solid rgba(255, 255, 255, 0.815);
   border-radius:20px;
   background-color: rgba(245, 245, 245, 0.554);
   flex-direction: column;
   justify-content: center;
   align-items: center; 
}

.cont-login img{
    height: 35vh;
    margin: 5%;
}
.cont-login input{
    border-radius: 5px;
    border: 0;
    width:25vw;
    height: 5vh;
}

.cont-login button{
    border-radius: 5px;
    background-color: rgb(33, 117, 156);
    color: white;
    width:25vw;
}

.okButtonProps {
    padding: 2%;
    width: 10%;
    height: auto;

}

/*///////Genomma validation*/
.body-gen{
    font-family: 'Ropa Sans', sans-serif;
    font-size: 2.5rem;
    margin: 1%;
    background-image: linear-gradient( rgb(204, 205, 207), rgb(221, 224, 235));
    height: 80vh;
    padding: 5%;
}
.cont-gen {
    width: 70%;
    font-size: 1.5rem;
    margin-top: 20%;
}
.cont-gen option{
    border-radius: 20px;
    font-size: 1.5rem
}
.gen-img{
    width: 50%;
    margin-left:60vw;
    margin-bottom: 20vh;
}

.body-gen h1{
    font-family: 'Ropa Sans', sans-serif;;
}

Button{
    border-radius: 5px;
    background-color: rgb(33, 117, 156);
    color: white;
    border: 0;
    margin:2%;
    width:30%;
    height:10%;
}
.body-gen img{
    height:auto;
    width: 50%;
}
